div.box-borders, pre.box-borders {
	border: 1px solid gray;
	box-shadow: 3px 3px 1px gray;
	background-color: #FDFDFD;
}

pre {
	font-family: Courier;
	font-size: 15pt;
}

pre.display-staff, div.answer, div.timed-score {
	padding: 10px;
	margin: auto;
	text-align: center;
}

pre.display-staff {
	width: 520px;
}

div.answer {
	width: 360px;
	float: left;
}

div.timed-score {
	width: 120px;
	float: right;
}

div.answer, div.timed-score {
	height: 100%;
}

div.timed-score.box-borders > div {
	padding-bottom: 2px;
}

div.cleff {
	margin: auto;
	text-align: center;
	font-size: 48pt;
}

div.answer {
	font-family: Arial;
	font-size: 18pt;
}

div.answer label, div.cleff label {
	padding-left: 15px;
	padding-right: 15px;
}

div.answer input {
	height: 20px;
}

pre.display-staff b {
	position: relative;
	top: 6px;
	font-size: 20pt;
	line-height: 18px;
	color: blue;
}

label.disabled {
	color: #DDD;	
}

body.error { background-color: red; }
body.success { background-color: lime; }

span.error { color: red; }
span.success { color: blue; }

span.answers-and-score {
	display: block;
	width: 540px;
	height: 60px;
	margin: auto;
}

div.octocat-icon {
	margin: auto;
	width: 28px;
}
